.content{
    width: 700px;
    height: 400px;
    margin: 40px auto;
    padding-top: 170px;
}

.text{
    width: 670px;
    text-align: center;
}

.search_input{
    width: 200px;
    height: 30px;
    margin-left: 230px;
}

.table{
    margin: 30px 0;
}

.table_item{
    text-align: center;
    padding: 50px;
}

.max_date_input,
.min_date_input{
    width: 205px;
    height: 35px;
    margin-left: 5px;
    margin-right: 5px;
}

.get_date_button{
    width: 205px;
    height: 39px;
    cursor: pointer;
}
